/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS Code */

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #163e79, #336699);
}

.resume {
    width: 800px;
    background: #fff;
    margin: 25px auto;
    display: flex;
}

.left {
    background: #182530a8;
    width: 250px;
    padding: 0 20px;

}

.right {
    width: calc(100% - 250px);
}

.left .img-holder {
    text-align: center;
    padding: 20px 0;
}

.left .img-holder img {
    width: 200px;
    border-radius: 50px;
}

.pb {
    padding-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color: bisque;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
}

.title:before {
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    width: 50px;
    height: 3px;
    background: bisque;
}

.left .text {
    color: burlywood;
    font-size: 14px;
}

.contact .li-wrap,
.skills .li-wrap,
.hobbies .li-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.contact .li-wrap .icon {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .li-wrap .text {
    width: calc(100% - 50px);
    word-break: break-all;
    padding-left: 10px;
}

.skills ul,
.hobbies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills .li-wrap,
.hobbies .li-wrap {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills .li-wrap {
    background: #fff;
}

.skills .li-wrap .text,
.hobbies .li-wrap .text {
    margin-top: 5px;
}

.hobbies .li-wrap {
    border: 2px solid #fff;
}

.skills .li-wrap .text {
    color: rgba(148, 89, 16, 0.767);
    font-size: 13px;
}

.hobbies .li-wrap:hover {
    background: #fff;
}

.hobbies .li-wrap:hover .text,
.hobbies .li-wrap:hover .icon {
    color: rgba(148, 89, 16, 0.767);
}

.header {
    background: #182530a8;
    padding: 15px 38px;
    color: #fff;
    height: 240px;
}

.header .name {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
    color: bisque;
}

.header .role {
    font-weight: 300;
    font-size: 20px;
}

.header .about {
    margin-top: 16px;
    line-height: 20px;
}

.right-inner {
    padding: 30px;
    background: cornsilk;
    color: rgba(87, 6, 6, 0.678);
}

.right-inner .title {
    color: rgba(87, 6, 6, 0.678);
}

.right-inner .edu {
    margin-top: 30px;
}

.right-inner .li-wrap {
    display: flex;
    margin-bottom: 15px;
}

.right-inner .li-wrap .date {
    width: 125px;
    color: rgba(148, 89, 16, 0.767);
}

.right-inner .li-wrap .info {
    width: calc(100% - 125px);
    padding-left: 25px;
    position: relative;
}

.right-inner .li-wrap .info-title {
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(148, 89, 16, 0.767);
}

.right-inner .li-wrap .info-com {
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;
}

.right-inner .li-wrap .info-cont {
    margin-top: 15px;
}

.right-inner .li-wrap .info:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: rgba(148, 89, 16, 0.767);
    border-radius: 50%;
}

.right-inner .li-wrap .info::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 2px;
    height: 90%;
    background: rgba(148, 89, 16, 0.767);
}